.fade-element {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 2em 0;
    background-image: linear-gradient(to bottom, transparent, white);
}

.post-card-content {
    -webkit-line-clamp: 4; max-height:9em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
}