@page
@model NewBlog.Pages.UnauthorizedModel
@{
}

<div class="text-center">
    <h1 class="display-4">Unauthorized :)</h1>
    <div>
        <a href="#" class="alert-link" onClick="history.go(-1); return false;">Go Back</a>
    </div>
</div>